DJANGO_ENV=dev
DEBUG=True
SECRET_KEY=dev-test-key-9d7f4c31b2ff497ea187f0c9c3a1b0a4e7bd
ALLOWED_HOSTS="localhost,127.0.0.1"

DB_ENGINE=django.contrib.gis.db.backends.postgis
DB_NAME=mobilys
DB_USER=postgres
DB_PASSWORD=admin
DB_HOST=db
DB_PORT=5432

CORS_ALLOWED_ORIGINS="http://localhost:3000"
MLIT_API_KEY=test_data # Replace with your actual MLIT API key
MLIT_API_URL=https://data-platform.mlit.go.jp/api/v1/
ESTAT_API_URL=https://api.e-stat.go.jp/rest/3.0/app/json/getStatsData
ESTAT_API_KEY=test_data # Replace with your actual e-Stat API key

OTP_URL=http://fastapi:8001
OTP_ROUTER_URL=http://nginx:80
DB_TIMING_LOG_ENABLED=False
REQUEST_LOG_BODY_ENABLED=False
REQUEST_LOG_BODY_MAX_BYTES=65536
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_EMAIL=admin@example.com
DEFAULT_ADMIN_PASSWORD=admin
